.events-wrap{
	display: flex;
	flex-direction: column;
	max-width: 50%;
	margin-right: 16px;
	padding: 16px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.06);
	border-radius: 4px;
	background-color: #e5e5e5;
}
.events-list{
	display: inline-flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0;
}