.App {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.wrapper{
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	padding: 16px;
}

.App-header {
	background-color: #222;
	color: white;
	text-align: center;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@media only screen and (max-width : 1024px) {
	.wrapper{
		flex-direction: column-reverse;
	}
}