.App {
	display: flex;
	flex-direction: column;
}

.wrapper{
	display: flex;
	padding: 16px;
}

.App-header {
	background-color: #222;
	color: white;
	text-align: center;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

