.favorite-wrap{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.06);
	flex-grow: 1;
	border-radius: 4px;
	padding: 16px;
}
.favorite-list{
	display: flex;
	flex-direction: column;
	
}